name: YouTubeWatch

on:
  schedule:
    - cron: '0 12 * * */1'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      # - name: Install dependencies
      #   run: |
      #     python -m pip install --upgrade pip
      #     pip install -r requirements.txt
      - name: YouTubeWatch
        run:
          python watch.py