name: YouTubeWatch

on:
  schedule:
    - cron: '0 12 * * */1'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy watches
        run:
          python watch.py